<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <style>
        #content {
            text-align: center;
            margin-top: 200px;
            margin-left: 550px;
        }
    </style>
</head>
<body>

<div class="card text-bg-success mb-3" id="content" style="max-width: 25rem;">
    <div class="card-header">Congratulations!</div>
    <div class="card-body">
        <h5 class="card-title">Thank you for shopping with us.</h5>
        <p class="card-text">Your order has been placed and will be delivered shortly.</p>
    </div>
</div>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js">
</body>
</html>